<div class="modal-wrapper">
  <header class="modal-header">
    <div class="modal-img" [style.backgroundImage]="'url('+ item.picture +')'"></div>
    <div class="modal-content">
      <h1 class="modal-title">{{ item.name }}</h1>
      <div class="modal-summary">
        <dl class="modal-summary-item">
          <dt class="modal-summary-item-title">
            release date
          </dt>
          <dd class="modal-summary-item-data">
            {{ item.date.day }}/{{ item.date.month }}/{{ item.date.year }}
          </dd>
        </dl>

        <dl class="modal-summary-item">
          <dt class="modal-summary-item-title">
            publisher
          </dt>
          <dd class="modal-summary-item-data">
            {{ item.publisher }}
          </dd>
        </dl>

        <dl class="modal-summary-item">
          <dt class="modal-summary-item-title">
            developer
          </dt>
          <dd class="modal-summary-item-data">
            {{ item.developer }}
          </dd>
        </dl>
      </div>
    </div>
  </header>
  <section id="modal-body">
    <p>{{ item.description }}</p>
  </section>
  <footer id="modal-footer">
    <a href="" class="btn-primary">Wanna try it</a>
    <button class="btn-secondary" (click)="closeModal()">Close</button>
  </footer>
</div>
