@import '../../../styles/custom';

.modal {
  &-wrapper {
    background-color: $card-background
  }
  &-header {
    height: 40vh;
    padding: 3em;
    position: relative;
  }
  &-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-content {
    display: flex;
    font-size: $main-font-size;
    color: $white;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
  }
  &-summary {
    flex: 0 0 28%;
    &-item-data {
      font-weight: 600;
      line-height: 3em;
    }
  }
  &-title {
    font-size: $large-font-size;
    font-weight: 600;
    align-self: flex-end;
  }

}
