$white: #ffffff;
$black: #000000;

//system colors
$system-primary: #0076c0;
$system-accent: #00acc1;
$system-warn: #c82929;
$system-notification: #da7f0e;
$system-normal: #318e1e;

$error-text: #b00020;
$error-bg: rgba(239, 106, 110, 0.15);

//layout colors
$main-color-light: #8c8c8c;
$main-color-middle: #666666;
$main-color-dark: #000000;

$secondary-color-light: #8d8d8d;
$secondary-color-middle: #6a6a6a;
