$white: #ffffff;
$black: #000000;

//system colors
$system-primary: rgba(84, 54, 44);
//$system-accent: #00acc1;
//$system-warn: #c82929;
//$system-notification: #da7f0e;
//$system-normal: #318e1e;

//font colors
$text-dark: #000000;

//$error-text: #b00020;
//$error-bg: rgba(239, 106, 110, 0.15);

//layout colors
$main-background: rgba(84, 54, 44, 0.8);
$card-background: rgba(255, 255, 255, 0.8);
//$main-color-light: #8c8c8c;
//$main-color-middle: #666666;
//$main-color-dark: #000000;
//
//$secondary-color-light: #8d8d8d;
//$secondary-color-middle: #6a6a6a;

//tags
$tag-pc: #35ABD5;
$tag-ps4: #0B4DBC;
$tag-xbox: #51B141;
$tag-switch: #DC324F;
