// Custom system
@import 'custom';

//Icons
// @import 'icons';

//Icons
// @import 'modals';

// Roboto font
@import 'fonts';

html,
body,
footer,
header {
  font-size: $base-font-size;
  font-family: $font-family-main;
  letter-spacing: $letter-spacing-30;
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  height: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  line-height: unset;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.displayed-none {
  display: none !important;
}

.sr-only {
  font-size: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container#modal-component {
  color: $text-dark;
  padding: 0;
  border-radius: $card-border-radius;
}
