$font-family-main: Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-icons: 'icomoon';

$base-font-size: 10px;
$large-font-size: 2.5rem;
$main-font-size: 1.6rem;
$small-font-size: 1.4rem;
$tiny-font-size: 1rem;
$letter-spacing-30: 0.3px;
//$letter-spacing-25: 0.25px;
//$letter-spacing-12: 0.12px;

$grid-gap: 0.8rem;
$grid-line-height: 7rem;




//$mobile-gap: 8px;
//$card-width: 327px;
//$card-height: 344px;
//$card-padding: 24px;
//$card-icon-size: 24px;
//$card-icon-size-mobile: 48px;
//$card-icon-wrapper: $card-icon-size + $card-padding * 1.5;
//$top-icon-size: 40px;
//$card-line-height: 43px;
