@import '../../../styles/custom.scss';

.tag-container {
  display: inline-block;
  font-size: $tiny-font-size;
  color: $white;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 10px;
  text-transform: uppercase;

  &:before {
    font-family: $font-family-icons;
    color: $white;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.pc {
    background-color: $tag-pc;
    &:before {
      content: "\e903";
    }
  }

  &.ps4 {
    background-color: $tag-ps4;
    &:before {
      content: "\e900";
    }
  }

  &.xbox {
    background-color: $tag-xbox;
    &:before {
      content: "\e902";
    }
  }

  &.switch {
    background-color: $tag-switch;
    &:before {
      content: "\e901";
    }
  }
}
